$color-1 : rgb(65, 56, 56);
$color-2 : rgb(37, 33, 33);
$color-3 : rgb(231, 223, 223);
$color-4 : rgb(238, 9, 86);
$grey: rgb(95, 95, 95);
$shadow: 0 3px 20px rgba(0, 0, 0, 0.356);

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


$color-1 : rgb(56, 47, 47);

body {
    margin: 0;
    padding: 0;
    background-color: $color-1;
}